[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "~=1.4.4"
flake8 = "~=3.7.7"
rope = "~=0.14.0"

[packages]
django = "~=2.2"
djangorestframework = "~=3.9.2"
psycopg2-binary = "~=2.8.2"
pillow = "~=6.0.0"
django-cors-headers = "~=2.5.2"
django-extra-fields = "~=1.2.0"
gunicorn = "~=19.9.0"

[requires]
python_version = "3.6"
